body{margin:0;
padding: top 800px;
text-align: center;
}

 .profile {
    border-radius:50%;
 }

 #welcome {
    position: absolute;
    bottom: 0;
    background:rgb(250, 82, 31);
    display:table;
    width:100%;
    height:100%;
 }

 .parallax-inner{
    display:table-cell;
    vertical-align:middle;
 }
 .bio{
    font-family:  cursive;
    padding: 50px;;


 }.line {
   height: 6px;
   background-color: aqua;
   width:70px;
   margin: 8px  auto;
 }
